<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Structure/Head")
</head>
<body>
    @Html.Partial("Structure/Navigator")
    <partial name="_CookieConsentPartial" />

    <div class="container body-content mt-2">
        <div class="row mh-100">
            @Html.Partial("Structure/LeftBar")
            <hr />
            <div id="right_bar" class="col-md-9 main ">
                @RenderBody()
            </div>
            <hr />
        </div>

    </div>
    @Html.Partial("Structure/Footer")


    @Html.Partial("Structure/Scripts")
    @RenderSection("Scripts", required: false)
</body>

<script>
    @{ string authorize = "false";
        if (!(User.Identity.Name is null))
        {
            authorize = "true";
        }
    }
    let linkToProfile = "#";
    let image = "https://www.meme-arsenal.com/memes/7bdea6754f999b50e9577596f09197fb.jpg";
    if (@authorize) {
        $.ajax({
            type: "GET",
            url: "/Users/GetUserIdentifiers/",
            dataType: "json",
            async: false,
            success: function (data) {
                //alert(data.userimagepath);
                image = data.userImagePath;
                linkToProfile = "/Users/Profile/" + data.userId;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.statusText);
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    $("#nav_avatar").attr("src", image);
    $("#nav_profile_link").attr("href", linkToProfile);
    $("#left_bar_home_page").attr("href", linkToProfile);
</script>
</html>
