@model ConversationsDialogueViewModel
@{
    ViewData["Title"] = Model.dialogue.NickName;
}


<div class="p-2 w-100 bg-dark text-light">
    Dialogue
    @Model.dialogue.Members.ToList()[0].User.FirstName - @Model.dialogue.Members.ToList()[1].User.FirstName

</div>

<div class="p-2 row justify-content-start">
    @{
        foreach (TextMessage mes in Model.dialogue.Messages)
        {
            @Html.Partial("TextMessage", new TextMessageViewModel()
            {
                message = mes,
                isUserMessage = Model.user.Id == mes.Sender.Id,
                isReaded = !Model.notReadedMessages.Any(m => m.Id == mes.Id)
            });
            <div class="w-100"></div>
        }
    }
</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    <form>

        <div class="form-group">
            <label asp-for="text">Введіть текст повідомлення</label>
            <input id="inputText" type="text" asp-for="text" />
            <span asp-validation-for="text" />
        </div>
        <div class="form-group  text-danger">
            <button id="btn_send" value="Надіслати" class="btn bg-danger">Надіслати</button>
        </div>

    </form>

</div>


<script type="text/javascript">
    $(".isNotReaded").animate({
        backgroundColor: "white"
    }, 2000);



    var dataForRead = {
        model: {
            userId: "@Model.user.Id",
            conversationId: @Model.dialogue.Id,
        }
    };

    $.ajax({
        type: "POST",
        url: "/Conversations/ReadMessages/",
        data: JSON.stringify(dataForRead.model),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (msg) {
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });


    $("#btn_send").click(function () {

        //var Value = $("#inputText").val();

        $.ajax({
            type: "POST",
            url: "/Conversations/SendMessage/",
            data: JSON.stringify({
                text: $("#inputText").val(),
                conversationId: @Model.dialogue.Id,
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                alert("vse ok");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    });
</script>

