@model ConversationsDialogueViewModel
@{
    ViewData["Title"] = Model.dialogue.NickName;
}


<div class="p-2 w-100 bg-dark text-light">
    Dialogue
    @Model.dialogue.Members.ToList()[0].User.FirstName - @Model.dialogue.Members.ToList()[1].User.FirstName

</div>

<div id="message_board" class="p-2 row justify-content-start">
    @{
        foreach (TextMessage mes in Model.dialogue.Messages)
        {
            @Html.Partial("TextMessage", new TextMessageViewModel()
           {
               message = mes,
               isUserMessage = Model.user.Id == mes.Sender.Id,
               isRead = !Model.notReadedMessages.Any(m => m.Id == mes.Id),
               isReadForAnotherUsers = !Model.notReadedMessagesForAnotherUser.Any(m => m.Id == mes.Id)
           });
            <div class="w-100"></div>
        }
    }
</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    <div class="form-group">
        <label asp-for="text">Введіть текст повідомлення</label>
        <input id="inputText" type="text" asp-for="text" />
        <span asp-validation-for="text" />
    </div>
    <div class="form-group  text-danger">
        <button id="btn_send"  class="btn bg-danger" onclick="reload">Надіслати</button>
    </div>
</div>


<script type="text/javascript">
    $(".isNotReaded").animate({
        backgroundColor: "white"
    }, 2000);



    var dataForRead = {
        model: {
            userId: "@Model.user.Id",
            conversationId: "@Model.dialogue.Id",
        }
    };

    $.ajax({
        type: "POST",
        url: "/Conversations/ReadMessages/",
        data: JSON.stringify(dataForRead.model),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });

    var input = document.getElementById("inputText");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("btn_send").click();
        }
    });


    $("#btn_send").click(function () {
        $.ajax({
            type: "POST",
            url: "/Conversations/SendMessage/",
            data: JSON.stringify({
                text: $("#inputText").val(),
                conversationId: "@Model.dialogue.Id",
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    });        

            @*$.ajax({
                type: "GET",
                url: "/Conversations/Dialogue/@Model.dialogue.Id",
                dataType: "html",
                success: function (data) {
                    $(".main").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });*@



</script>

