@model ConversationsListViewModel

@{
    ViewData["Title"] = "List";
}

<div class="p-2 w-100 bg-dark text-light">
    Dialogue
    @Model.user.FirstName @Model.user.LastName Conversations

</div>

<div class="p-2 row justify-content-start">
    @{
        foreach (var item in Model.conversations)
        {

            <img src="@item.Key.Image.Path" style="width:50px" alt="Alternate Text" />
            <a href="~/Conversations/Dialogue/@item.Key.Id">@item.Key.Name</a>
            if (item.Value != 0)
            {
                <p class="bg-warning text-light">@item.Value</p>
            }
            <div class="w-100"></div>
        }
    }
</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    FieldForSend
</div>



